<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @alert.message %>
</p>

<p>
  <b>Location:</b>
  <%= @alert.location_id %>
</p>

<p>
  <b>Gis message:</b>
  <%= @alert.gis_message %>
</p>


<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
