<p id="notice"><%= notice %></p>

<p>
  <b>Device:</b>
  <%= @location.device_id %>
</p>

<p>
  <b>Lat:</b>
  <%= @location.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @location.lng %>
</p>

<p>
  <b>Source:</b>
  <%= @location.source %>
</p>

  <b>Device:</b>
  <%= @location.device_id %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
